<div  class="container card text-center mt-3 wrapper animate__animated animate__fadeInDown">
        <div *ngIf="!loading">
            <div class="form-floating mt-3 ml-4" style="margin-left: 10px; margin-right: 10px;">
                <div>
                    <h5>Personas</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Nacimiento</th>
                                <th scope="col">Estado civil</th>
                                <th scope="col">Email</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Profesión</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listPersonas">
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.apellido }}</td>
                                <td>{{ item.direccion }}</td>
                                <td>{{ item.fechaNacimiento }}</td>
                                <td>{{ item.estadoCivil }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.telefono }}</td>
                                <td>{{ item.profesion }}</td>
                                <td>{{ item.rol }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
