<div class="card text-center mt-3">
    <div class="container" style="margin-bottom: 10px;">
        <p>Datos de interés</p>
        <div class="card">
            <img src="../../../assets/images/perfil/fondo.jpg" class="card-img-top" alt="programacion" width="20" height="150" style="border-radius: 50px;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>