<div class="container card mt-3 wrapper animate__animated animate__fadeInDown">
    <div *ngIf="!loading">
      <div class="form-floating mb-3 mt-3" style="margin-left: 10px; margin-right: 10px;">
        <div>
          <h5 class="text-center">Educación</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Establecimiento</th>
                <th scope="col">Nivel</th>
                <th scope="col">Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listEducaciones">
                <td>{{ item.establecimiento }}</td>
                <td>{{ item.nivel }}</td>
                <td>{{ item.fechaFin }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>