<div class="card card-body mb-3" style="border-radius: 50px">
    <h5 class="text-center mt-3">Formulario de contacto</h5>
    <div class="form mb-3 mt-5">
        <label class="mb-2">Nombre:</label>
        <input type="text" [(ngModel)]="nombre" name="user" class="form-control"
            placeholder="Nombre">
    </div>
    <div class="form mb-3 mt-3">
        <label class="mb-2">Correo electrónico:</label>
        <input type="text" [(ngModel)]="email" name="user" class="form-control"
            placeholder="email@email.com">
    </div>
    <label>Mensaje:</label>
    <div class="form mb-3 mt-3">
        <textarea type="text" [(ngModel)]="descripcion" name="user" style="height: 200px; overflow: auto;" class="form-control"
            placeholder="Escriba aquí su mensaje..."></textarea>
    </div>
    <button type="button" (click)="addFormulario()"
        class="btn btn-success btn-lg mt-5">Enviar</button>
</div>