<div class="container mt-5 wrapper animate__animated animate__fadeInDown">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div *ngIf="!loading" class="card-body">
                    <img class="logo mt-2 mb-4" src="../../../assets/images/login/icon_login.png" alt="Login">
                    <h2>Iniciar sesón</h2>
                    <form>
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" [(ngModel)]="username" name="userlogin" class="form-control" placeholder="Ingrese usuario">
                            <label for="floatingInput">Usuario</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" [(ngModel)]="password" name="passlogin" class="form-control" placeholder="Ingrese contraseña">
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                        <button type="button" class="btn btn-primary mt-4 btn-lg mb-4" (click)="login()">Ingresar</button>
                        <button type="button" class="btn btn-secondary mt-4 btn-lg mb-4" style="margin-left: 10px;" [routerLink]="['/portfolio']"
                            routerLinkActive="router-link-active">Volver</button>
                        <p class="mt-3">¿No tienes una cuenta? <a routerLink="/registrar-usuario">Registrarme</a>.</p>
                        
                    </form>
                </div>
                <app-spinner *ngIf="loading"></app-spinner>
            </div>
        </div>
    </div>