.title {
    font-size: 3rem;
    padding: .3rem 0;
}

.pre-title {
    padding: .5rem 0;
    color: #ffffffc2;
    font-family: "IBM Plex Sans", sans-serif;
}

.sub-title {
    padding: .5rem 0;
}

.description {
    padding: .5rem 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: .2px;
    color: #ffffffc2;
}

.image-wrapper {
    padding: 2rem 0;
    position: relative;
}

.links {
    height: 8rem;
    padding: .15rem;
    display: block;
}

.block {
    padding: .15rem;
    height: 8rem;
    display: block;
}

.block-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    background: #ffffff0a;
}

.perfil {
    position: flex;
    margin-top: 10px;
    border-radius: 142px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.perfil {
    box-shadow:
  0px 2.8px 2.7px rgba(0, 0, 0, 0.047),
  0px 7px 6.9px rgba(0, 0, 0, 0.067),
  0px 14.4px 14.2px rgba(0, 0, 0, 0.083),
  0px 29.6px 29.2px rgba(0, 0, 0, 0.103),
  0px 81px 80px rgba(0, 0, 0, 0.15)
}