<div class="d-flex flex-wrap">
    <app-persona style="margin-top: 60px; margin-left: 100px;" class="col-12 col-sm-12 col-md-6 col-lg-4"></app-persona>
    <app-aptitudes style="margin-top: 20px; margin-left: 20px;"
        class="col-12 col-sm-12 col-md-4 col-lg-5"></app-aptitudes>
    <app-experiencia-laboral style="margin-left: 30px; margin-top: 20px;"
        class="col-12 col-sm-12 col-md-4 col-lg-11"></app-experiencia-laboral>
    <app-educacion style="margin-left: 30px; margin-top: 20px;"
    class="col-12 col-sm-12 col-md-4 col-lg-11"></app-educacion>
    <app-proyectos style="margin-left: 30px; margin-top: 20px;"
        class="col-12 col-sm-12 col-md-4 col-lg-11"></app-proyectos>
</div>