<div class="wrapper animate__animated animate__fadeInDown">
    <div class="section-1">
        <div>
            <h4>Bienvenidos a mi portfolio personal</h4>
        </div>
    </div>
    <div class="section-2">
        <ul class="list-menu">
            <button class="btn btn-primary" style="margin-right: 10px;" routerLink="/login">Editar</button>
            <button type="button" class="btn btn-danger" (click)="logOut()">
                <i class="bi bi-box-arrow-left"></i>
            </button>
        </ul>
    </div>
</div>