<nav class="navbar" data-bs-theme="dark" style="background-color: #0086fe; box-shadow: 0px 2.8px 2.7px rgba(0, 0, 0, 0.047), 0px 7px 6.9px rgba(0, 0, 0, 0.067), 0px 14.4px 14.2px rgba(0, 0, 0, 0.083), 0px 29.6px 29.2px rgba(0, 0, 0, 0.103), 0px 81px 80px rgba(0, 0, 0, 0.15);">
    <div class="container-fluid">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>Para poder editar el portfolio deberás hacerlo con la contraseña que debe proveerte el administrador</p>
                <ul class="list-menu">
                    <button class="btn btn-success" style="margin-right: 10px;" routerLink="/editar"><i
                            class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger" (click)="logOut()">
                        <i class="bi bi-box-arrow-left"></i>
                    </button>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-list"></i></button>
    </div>
</nav>
