<app-header></app-header>
<div class="d-flex flex-wrap">
  <app-editar-persona style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-11"></app-editar-persona>
  <app-editar-aptitudes style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-11"></app-editar-aptitudes>
  <app-editar-educacion style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-11"></app-editar-educacion>
  <app-editar-experiencias style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-11"></app-editar-experiencias>
  <app-editar-proyectos style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-11"></app-editar-proyectos>
</div>