<div class="wrapper mt-2 text-center">
    <h3>Componente editar</h3>
    <div class="container">
        <h2>Traemos los datos almacenados de la base de datos</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Coca Cola</td>
                <td>Bebida con gas</td>
            </tr>
            <tr>
                <td>Consolador</td>
                <td>Para meterlo en el culo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>