<app-header></app-header>
<div class="d-flex flex-wrap">
  <app-editar-persona style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-6"></app-editar-persona>
  <app-editar-aptitudes style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-5"></app-editar-aptitudes>
  <app-editar-educacion style="margin-left: 30px; margin-top: 20px;" class="col-12 col-sm-12 col-md-4 col-lg-6"></app-editar-educacion>
  <app-editar-experiencias style="margin-top: 20px; margin-left: 50px;" class="col-12 col-sm-12 col-md-6 col-lg-5"></app-editar-experiencias>
</div>