<div class="container card mt-3 wrapper animate__animated animate__fadeInDown">
    <div *ngIf="!loading">
        <div class="form-floating mb-3 mt-3" style="margin-left: 10px; margin-right: 10px;">
            <div>
                <h5 class="text-center mt-4" style="margin-bottom: 20px;"><i class="bi bi-reception-3" style="margin-right: 15px;"></i>Aptitudes</h5>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>